html, body {
  padding: 0;
  margin: 0;
  height: 100%;

}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
#nowPlayingBarContainer {
  width: 100%;
  background-color: #4d4e7b;
  bottom: 0;
  position: fixed;
  min-width: 620px;
}

#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 16px;
  box-sizing: border-box;
}

#nowPlayingLeft, #nowPlayingRight {
    width: 30%;
    min-width: 180px;

}
#nowPlayingRight{
  position: relative;
  margin-top: 16px;
}
#nowPlayingCenter {
    width: 40%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#nowPlayingBar .content {
  height: 57px;
  width: 100%;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

.buttons .controlButton {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.controlButton img {
  width: 27px;
  height: 18px;
}

.controlButton.play img,.controlButton.pause img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.controlButton:hover {
  cursor: pointer;
}

.progressTime {
  color: #A09CA0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.playbackBar {
  display: flex;
}

.progressBar {
  width: 100%;
  height: 15px;
  display: inline-flex;
  cursor: pointer;
}

.progressBarBg {
  background-color: #a77e7e;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.progress {
  background-color: #fe0000;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

.playbackBar .progressBar {
      margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
  height: 100%;
  width: 57px;
  margin-right: 15px;
  float: left;
  background-size: cover;
}
#nowPlayingLeft .trackInfo {
  display: table;
}

#nowPlayingLeft .trackInfo .trackName {
  margin: 6px 0;
  display: inline-block;
  width: 100%;
}


#nowPlayingLeft .trackInfo .artistName span {
  font-size: 12px;
  color: #8f8f8f;
}

.volumeBar {
  width: 180px;
  position: absolute;
  right: 0
}
.volumeBar button {
  border: none;
  background-color: transparent;
}

.volumeBar .progressBar {
  width: 125px;
}
